@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {height: 100%; padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}
.layout { height: 100vh; width: 100%; background-color: #fff;}


/* colors

primary color / button / action : #4C3D4B
background color : #F7F9FE
menu background color : #F7F9FE
menu border:
*/

.container-fluid { padding: 0; height: 100%;}

.logo {height: 70px; line-height: 70px; vertical-align: middle; padding-bottom: 20px; width: 100%; padding-left: 20px; color: #4CAF50;}
.logo-text {padding-left: 5px;font-weight: bold;}
.menu { background-color: #f8f8f8; height: 100vh; width:11%; float:left; border-right:2px solid #ececec;}
.content {background-color: #FFFFF7; height: 100vh; width:88.8%;float: right; }

.button {background-color: #4C3D4B;}

/** menu
    menu action are centered vertically and horizontally
**/
.item {height: 50px; width: 100%; height: 50px;}
.item .action { width:30%; height: 100%; line-height:50px; float:left; vertical-align: middle; text-align: center; color:#4CAF50;}
.item .label {
    float:right; height: 100%; line-height:50px; width:70%; vertical-align: middle;
    text-align: left;font-size: 16px ;color:#807f83;}
.item .label:hover {color: #4CAF50; cursor: pointer;}
.white-text {color:#fff;}